main {
  color: #3B3738;	/* sets the text colour throughout the page */
}

.dropdownContent {
    display: none;	/* sets the dropdown content to invisible */
}

.dropdown:hover .dropdownContent {
    display: block;	/* makes dropdown content expand to fill content */
}

/* header text settings for the title */
.header{
  font-size: 2em;
  text-align: center;
  font-family: 'Roboto', serif;
  padding: 5px 2px;
}

/* sets the colour of the dropdown menu */
a.subMenu {
	background-color: #ff5151;
}

/* link button aesthetics */
.buttonLink{
  padding: 3px;
  display: block;
  background-color: #c60f0f;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  color: #FFF;
  text-decoration: none;
}

/* changes colour on hover for button links */
a:hover.buttonLink{
  background-color: teal;
}

/* settings to add a round border */
.round {
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

/* makes images round with the round class */
.round img{
  display: block;
  margin: 0 auto;
  height: auto;
  width: 150%;
  margin: 0 0 0 -20%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* gets rid of formatting in columns */
#column{
  padding: 0px;
}

/* sets the margin of the sidebar */
#sidebar{
  margin: 10px 5px 0px 5px;
}

/* panes settings with a given background */
section{
  background-color: #FDF3E7;
  font-family: 'Merriweather', sans-serif;
  padding: 3px 10px;
  margin: 10px 5px;
  color: #3B3738;
}

/* backgrounds with contingincies in the event of lack of support */
body {
  background: linear-gradient(-45deg, #b2360d , #C63D0F);
  background-color: #ff3d07;
  /* background with tiled SVG background triangles */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ff9200' fill-opacity='0.43'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
